.button__cta {
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-light-gray);
        background-color: var(--color-black);
        padding: 12px 16px;
        border-radius: 12px;
        font-weight: 400;
    }

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-black);
        border-radius: 12px;
        padding: 12px;
    }
}