.about__content {
    border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 48px;

    & .about__article {
        border: 1px solid red;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;


        & .about__article-title {
            font-size: 42px;
            width: 50%;
            font-weight: 400;
            line-height: 1.1;
        }

        & .about__article-description {
            font-size: 18px;
            width: 50%;
            font-weight: 300;
            line-height: 1.2;
        }
    }

    & .about__container-image {
        border: 1px solid red;
        width: 100%;
        position: relative;

        &>img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }

        & .rating__container-absolute {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 8px 12px;
            background-color: var(--color-light-gray);
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 12px;

            &>ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2px;

                &>li>img {
                    width: 16px;
                    height: 16px;
                }
            }

            &>span {
                font-size: 16px;
                font-weight: 400;
                color: var(--color-medium-gray);
            }
        }
    }

    & .about__range {
        width: 100%;
    }

    & .about__range .splide__track {
        width: 100%;
    }

    & .about__range .splide__list {
        align-items: stretch;
    }

    & .about__range-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        height: 100%;
        padding: 16px;
        border-radius: 12px;

        &>h2 {
            font-size: 64px;
            line-height: 1;
            font-weight: 200;
            color: var(--color-gray);
        }

        &>p {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 300;
            color: var(--color-medium-gray);
        }
    }
}