.header__content {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 48px;
    background-color: var(--color-white);

    & .header__logo-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        & .header__logo-image {
            width: 100px;
            height: auto;
            object-fit: contain;
        }
    }

    & .header__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        & .header__nav-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            border: 1px solid red;

            & .header__nav-item {
                border: 1px solid red;
                padding: 8px 12px;

                & .header__nav-link {
                    text-decoration: none;
                    color: #333;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
}       