.services__content {
    border: 1px solid red; 
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;

    & .services__title {
        border: 1px solid red;
        font-size: 42px;
        font-weight: 300;
        line-height: 1.1;
        text-align: center;
        width: 50%;
    }

    & .services__carousel {
        width: 100%;
        border: 1px solid red;

        & .services__carousel-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border: 1px solid red;
            width: 100%;
            gap: 48px;
            position: relative;

            & > img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: center;
                border-radius: 12px;
            }

            & .services__carousel-item-icon-absolute {
                position: absolute;
                left: 24px;
                top: 220px;
                transform: translateY(50%);
                padding: 16px;
                border-radius: 50%;
                background-color: var(--color-black);
                border: 4px solid var(--color-white);
            }

            & .services__carousel-container {
                border: 1px solid red;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 12px 24px;
                gap: 16px;

                & .services__carousel-title {
                    border: 1px solid red;
                    font-size: 28px;
                    font-weight: 300;
                }

                & > ul {
                    border: 1px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 6px;
                    width: 100%;

                    & > li {
                        border: 1px solid red;
                        font-size: 16px;
                        font-weight: 300;
                        width: calc(50% - 6px);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 6px;
                    }
                }
            }
        }
    }

    & .services__controls {
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & .services__controls-div {
            border: 1px solid red;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            & > button {
                background-color: var(--color-black);
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;

                &:nth-child(2) {
                    transform: rotate(180deg);
                }
            }
        }
    }
}