.transport__content {
    border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 48px;
}