.transport__content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 96px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 62px;
    background-color: var(--color-light-gray);

    @media (max-width: 768px) {
        padding: 24px;
        gap: 42px;
    }

    & .transport__title {
        font-size: 42px;
        font-weight: 300;
        line-height: 1.1;
        text-align: center;
        width: 60%;
        color: var(--color-black);

        @media (max-width: 768px) {
            width: 100%;
            font-size: 28px!important;
        }
    }

    & .transport__carousel {
        width: 100%;
    }

    & .transport__carousel .splide__track {
        width: 100%;
    }

    & .transport__carousel .splide__list {
        align-items: stretch;
    }

    & .transport__carousel-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        height: 100%;

        &>img {
            width: 100%;
            height: 320px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }

        & .transport__carousel-item-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;

            &>h2 {
                font-size: 32px;
                font-weight: 300;
                line-height: 1.1;
                color: var(--color-black);
            }

            &>p {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--color-medium-gray);
            }

            & .button__cta {
                margin-top: 6px;
            }
        }
    }
}

@media (max-width: 768px) {
    .transport__content {
        padding: 48px 5%;
        gap: 32px;

        & .transport__title {
            width: 100%;
            font-size: 32px;
        }

        & .transport__carousel-item>img {
            height: 220px;
        }
    }
}